.msg{
    position: relative;
    max-width: 60%;
    min-width: 200px;
    min-height: 50px;
    border-radius: 10px;
    background-color: var(--color-06);
    display: flex;
    display: table-cell;
    justify-content: flex-end;
    padding: 10px;
    overflow: hidden;
    word-wrap: break-word;
}
.msg-img{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
    background-color: var(--color-06);
    transition: 1s;
}
.msg:hover > .msg-img{
    display: inline;
}
.msg-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.msg-sect{
    background-color: var(--color-05);
    padding: 10px;
    border-radius: 5px;    
}